<h1><%= @activity.title %></h1>

<h4><%= @activity.distance %> miles</h4>

<p>This activity is located at <%= @activity.location %>.</p>

<p><%= @activity.desc %></p>

<%= link_to "Activity Webpage", @activity.link %>

<br/>
<br/>
<br/>

<%= link_to "Back", activities_path %>
